.settings {
    gap:20px;
    padding:10px;  
}
.update-password-form{
    background-color:  #d0fbfd;;
    height: 430px;
    width: 220px;

}
.imgSettings{
    width: 110px;
    height: 110px;
    align-items: center;
    border-radius: 10px;
}