@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: Roboto;
}
html, body{
    margin: 0;
    height: 100%;
    box-sizing: content-box;
}
body{
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #f3f2f2,#bdf6f9);
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    padding: 10px;
    flex-direction: column;
    border: 1px solid dodgerblue;
    background-color: #d0fbfd;
    border-radius: 10px; 
    align-items: center; 
    height: 350px;
    width: 220px;
    justify-content: center;
    text-align: center;
    gap:10px;
}
input{
    border-radius: 4px;  
    font-size: 14px; 
    width: 210px;
    height: 25px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color:transparent;
    margin: 8px 0 4px 0;
    color: rgb(117, 114, 114);  
}
input::placeholder{
    color: transparent;
}
input:focus {
    outline: none;
}
input::selection{
    -webkit-background-clip: text;
    color:transparent;
}
.buttonLogin{
    width: 80px;
    height: 25px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #a9f0f4;
    color:#6b6969;  
}
.buttonLogin:hover{
    background-color:#bdf6f9;
    height: 25px;
    border-radius: 5px;     
}
.img{
    width: 110px;
    height: 110px;
    align-items: center;
} 
.imgRegister{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    gap:10px;
}
.imgHome{
    width: 60px;
    height: 60px;
}
.buttonRegister{
    width: 80px;
    height: 25px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #a9f0f4;
    color:#6b6969; 
}
.buttonRegister:hover{
    background-color:#bdf6f9;
    height: 25px;
    border-radius: 5px;     
}
.register{
    left: 20px;
    color:rgb(26, 24, 24);
    font-size: 16px;
    height: 20px;
    text-decoration: none;
}
.header{
    display: flex;
    background: #a9f0f4;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    
}
h1{
    font-size: 18px;
    text-align: center;
    align-items: center; 
    letter-spacing: 10px;
    margin-left: 135px; 
    margin-right: 135px;
    margin-top: 10px;
}
.burguer{
    width: 23px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 5px;
    gap: 5px; 
}
.burguer2, .burguer1, .burguer3{
    left: 14px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(106, 207, 241);
    width: 100%;
    height: 5px;
}
.burguer1:hover{
    background-color: #6b6969;
}
.burguer2:hover{
    background-color: #6b6969;
}
.burguer3:hover{
    background-color: #6b6969;
}
.off {
    display: none;
}

