/*body{
    background: radial-gradient(circle, lightblue, white );
}*/
.grid {
    outline: 1px solid black;
    width: 100vh;
    height: 100vh;
    display:grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows:repeat(3, 1fr) ;
    grid-template-areas: 
    "n1 n1 n1"
    "n2 n3 n4"
    "n5 n5 n5";
}
.item{
    font-size: 20px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.header{
    background-color: lightskyblue;
    grid-area: n1;
}
.aside1{
    background-color: lightpink;
    grid-area: n2;
}
.body{
    background-color: lightseagreen;
    grid-area: n3;
}
.aside2{
    background-color: palevioletred;
    grid-area: n4;
}
.footer{
    background-color: aqua;
    grid-area: n5;
}

