<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        header
    </div>
    <div class="main">
        <div class="aside aside--left">Aside</div>
        <div class="body left">Body</div>
        <div class="aside aside--right">Aside</div>
    </div>
    <div class="footer">Footer</div>
</body>
</html>